<section class="backgroundimage" id="about"></section>

<nav class="navbar navbar-expand-lg fixed-top navbarScroll">
  <div class="container">
    <a class="nav-link"
       routerLink="/"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">Jackson Simon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/about"
             routerLinkActive="activebutton"
             ariaCurrentWhenActive="page">
            About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/projects"
             routerLinkActive="activebutton"
             ariaCurrentWhenActive="page">
            Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/contact"
             routerLinkActive="activebutton"
             ariaCurrentWhenActive="page">Contact</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
